/* * {
  font-family: Georgia, serif;
  box-sizing: border-box;

  margin: 0 auto;
} */
.heading {
  text-align: center;
  margin: 0 auto;
}
.testcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
  width: 80vw;
  margin: 0 auto;
}

.buttons {

  
  background: #4caf50;
  border: 1px solid #ccc;
  border-radius: 15px 50px;
  padding: 1% 1%;
  display: block;
  color: white;
  margin: 0 auto;
  margin-top: 50px;
}

.buttons__submit { 
  background: #4caf50;
  color: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 0.5% 2%;
  display: block;
  margin-bottom: -30px;
  margin: -55px auto;
  margin-right: 10px;
}
.dashboard__fragment{
  box-sizing: border-box;

  margin: 0 auto;

}
